{% extends "base_generic.html" %}
{% load static %}
{% block staticfiles %}


{% endblock staticfiles %}
{% block content %}
<h2>Forgot your Password?</h2>
  <span>Enter your email address and we can send you instructions to reset it.</span>
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Send Instructions">
  </form>
{% endblock %}
