*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color-dark: #f57c00;
  --primary-color-darker: #da5c01;
  --primary-color: #ff9800;
  --primary-color-light: #ffc954;
  --primary-color-lighter: #cfddfb;
  --primary-color-text: #181818;
  --accent-color: #ffd706;
  --selected-color: #95eeee;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
  --surface-bg: #f6f6f6;
  --shadow-color: rgba(10, 10, 10, 0.75);
  --header-height: 6.5rem;
}
/* global*********************************/
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color-text);
  background-color: white;
  overflow-y: hidden;
  height: 100%;
}
body {
  display: flex;
  flex-flow: column;
}
/* typography *****************************************/
h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}

h1,
h3 {
  color: white;
}
h2 {
  color: var(--text-color);
  margin: 0.5rem;
  margin-left: 1rem;
}

h3 {
  color: var(--text-color);
  margin-bottom: 0.5rem;
}
/* sections divs form etc *****************************************/
header {
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  box-shadow: 0 2px 5px var(--shadow-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
}
header::before {
  width: 100%;
  height: 1rem;
  background-color: var(--primary-color-dark);
  content: "";
  position: fixed;
  top: 0;
  left: 0;
}

nav {
  background-color: var(--primary-color-dark);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em 1em;
  gap: 1.5em;
  box-shadow: 0 -10px 15px var(--shadow-color);
  z-index: 1;
  width: auto;
  transition: 250ms;
  margin-left: -60rem;
}

nav.open {
  margin-left: 0;
}

.scroll-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.scroll-list div.header {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0.5rem;
}

div.header select {
  border-style: none;
  padding: 0.5em;
  font-size: 1em;
  background-color: white;
  box-shadow: 0 3px 4px gray;
}
div.header select .option {
  padding: 0.5em;
  font-size: 1em;
  background-color: white;
}

.list-body {
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  gap: 0.6rem;
  width: 93vw;
  max-width: 700px;
  padding: 0.75rem;
  flex: 1 1 auto;
  padding-bottom: 10rem;
  border: 1px solid #cdcdcd;
  border-radius: 0.4rem;
  box-shadow: 0 0 7px #dddddd;
}

.list-item {
  box-shadow: 0 3px 3px var(--shadow-color);
  margin: 0 0.3rem;
  text-overflow: clip;
  scroll-margin-top: 1rem;
}

.list-item,
.list-item form {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  padding: 0.75em;
  border-radius: 0.5rem;
  transition: 200ms;
  background-color: white;
}

.list-item .edit .selected {
  max-height: 65%;
  scroll-padding: 2rem;
  scroll-margin: 3rem;
}
.list-item p {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  text-align: justify;
}

.list-item.selected form {
  gap: 1rem;
  max-height: 100vh;
}
.list-item.selected {
  border: 1px solid var(--primary-color-light);
  border-radius: 0.5rem;
  box-shadow: 0 3px 7px #dba946;
  overflow: visible;
  max-height: 100vh;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

form > input,
form > textarea {
  font-size: 1em;
  padding: 0.35em;
  border-style: none;
  box-shadow: 0 1px 3px var(--shadow-color);
  border-radius: 0.2rem;
  line-height: 1.1em;
  margin-bottom: inherit;
}

form > label {
  color: var(--primary-color-text);
  font-weight: bold;
  margin-bottom: 0.25rem;
}

div.button-row > button {
  color: white;
  font-weight: bold;
  margin-bottom: inherit;
  background-color: var(--primary-color-dark);
  align-self: center;
  padding: 0.75em 1.75em;
  border-radius: 50px;
  box-shadow: 0 3px 4px var(--shadow-color);
}

.list-footer {
  background-color: var(--primary-color-dark);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  flex: 0 1 auto;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
}

div.button {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.modal-bg {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(11, 11, 11, 0.45);
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.modal-content,
.modal-content form {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 5px var(--shadow-color);
}
.modal-content {
  position: relative;
  border-radius: 0.5rem;
  max-width: 95vw;
}

.modal-content .header {
  top: 0;
  left: 0;
  color: white;
  padding: 1em;
  width: 100%;
  background-color: var(--primary-color-dark);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  box-shadow: 0 2px 3px gray;
}

.facilitator form {
  box-shadow: 0 0 3px #eeeeee;
  border-radius: 0.25rem;
}

.modal-content .header > div {
  background-color: white;
  color: white;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  user-select: none;
  transition: 100ms;
}

.modal-content .header > div:hover,
.modal-content .header > div:focus {
  transform: scale(1.2);
  cursor: pointer;
}
.modal-content form {
  padding: 2rem;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 2rem;
}

.modal-content form input,
.modal-content form textarea {
  margin-bottom: 2rem;
}

textarea {
  resize: none;
  overflow-y: visible;
  font-family: inherit;
  max-height: none;
}

.share-content {
  display: flex;
  padding: 2rem;
}

.share-content span {
  word-wrap: normal;
}

/* buttons + icons  *****************************************/
button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

button img {
  width: 2rem;
  height: 2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(307deg)
    brightness(103%) contrast(101%);
  pointer-events: inherit;
}
form button#add {
  background-color: var(--accent-color);
  border-radius: 500px;
  padding: 1.7em;
  box-shadow: 0 5px 5px var(--shadow-color);
  margin-top: -1.5rem;
}
button#add img {
  width: 2em;
  height: 2em;
  filter: invert(5%);
}
.button-row button {
  min-width: 6rem;
}

nav a {
  text-decoration: none;
  color: white;
  border-radius: 50px;
  border: solid 1px white;
  padding: 0.5em 1.4em;
  align-self: stretch;
  text-align: center;
  transition: 200ms;
}
nav a:hover {
  background-color: white;
  color: var(--primary-color-dark);
}

#addButton {
  margin-top: -2.5rem;
  background-color: var(--accent-color);
  padding: 1rem;
  border-radius: 50px;
  box-shadow: 0 3px 4px var(--shadow-color);
  transition: 100ms;
}

#addButton:hover,
#addButton:focus {
  transform: translateY(-0.2rem);
}

.share-content button img {
  filter: invert(53%) sepia(30%) saturate(5460%) hue-rotate(7deg)
    brightness(101%) contrast(103%);
}

form button {
  align-self: center;
  background-color: var(--primary-color-darker);
  padding: 0.6em 1.8em;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 3px gray;
}

/* scripting **********************************************/
main {
  background-color: var(--surface-bg);
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  padding-top: var(--header-height);
}
.content {
  flex: 1 1 auto;
  height: 100%;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

span.warning {
  position: fixed;
  top: 5rem;
  color: inherit;
  z-index: 1;
  background-color: var(--accent-color);
  padding: 0.4em 1.2em;
  border-radius: 50px;
  transition: 300ms;
  box-shadow: 0 4px 8px var(--shadow-color);
  opacity: 0;
}

span.warning.on {
  opacity: 1;
}
