*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color-dark: #f57c00;
  --primary-color-darker: #da5c01;
  --primary-color: #ff9800;
  --primary-color-light: #ffc954;
  --primary-color-lighter: #cfddfb;
  --primary-color-text: #212121;
  --accent-color: #ffd706;
  --selected-color: #95eeee;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
  --surface-bg: #f6f6f6;
  --shadow-color: rgba(10, 10, 10, 0.75);
}
/* global*********************************/
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: white;
  overflow-y: hidden;
  height: 100%;
}
body {
  display: flex;
  flex-flow: column;
}
/* typography *****************************************/
h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}

h1,
h3 {
  color: white;
}
h2 {
  color: var(--text-color);
  margin: 0.5rem;
  margin-left: 1rem;
}

h3 {
  color: var(--text-color);
  margin-bottom: 0.5rem;
}
/* sections divs form etc *****************************************/
header {
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  box-shadow: 0 2px 5px var(--shadow-color);
}
header::before {
  width: 100%;
  height: 1rem;
  background-color: var(--primary-color-dark);
  content: "";
  position: fixed;
  top: 0;
  left: 0;
}

nav {
  background-color: var(--primary-color-dark);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em 1em;
  gap: 1.5em;
  box-shadow: 0 -10px 15px var(--shadow-color);
  z-index: 1;
  width: auto;
  transition: 250ms;
  margin-left: -60rem;
}

nav.open {
  margin-left: 0;
}

.scroll.list {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.list-body {
  overflow-y: scroll;
  background-color: lightblue;
  display: flex;
  flex-flow: column;
  gap: 0.6rem;
  width: 93vw;
  max-width: 700px;
  padding: 0.75rem;
  flex: 1 1 auto;
}

.list-item {
  box-shadow: 0 3px 3px var(--shadow-color);
  margin: 0 0.3rem;
  text-overflow: clip;
}

.list-item,
.list-item form {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  padding: 0.75em;
  border-radius: 0.5rem;
  max-height: 6rem;
  transition: 200ms;
  background-color: white;
}
.list-item p {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  text-align: justify;
}

.list-item.selected form {
  gap: 1rem;
  max-height: 100vh;
}
.list-item.selected {
  border: 1px solid var(--primary-color-light);
  border-radius: 0.5rem;
  box-shadow: 0 3px 7px #dba946;
  overflow: visible;
  max-height: 100vh;
}

form > input,
form > textarea {
  font-size: 1.125em;
  padding: 0.35em;
  border-style: none;
  box-shadow: 0 1px 3px var(--shadow-color);
  border-radius: 0.2rem;
  line-height: 1.35em;
  margin-bottom: inherit;
}

form > label {
  color: var(--primary-text-color);
  font-weight: bold;
  margin-bottom: inherit;
}

div.button-row > button {
  color: white;
  font-weight: bold;
  margin-bottom: inherit;
  background-color: var(--primary-color-dark);
  align-self: center;
  padding: 0.75em 1.75em;
  border-radius: 50px;
  box-shadow: 0 3px 4px var(--shadow-color);
}

.list-footer {
  background-color: var(--primary-color-dark);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  flex: 0 1 auto;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div.button {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}
.button-row {
  flex-flow: row;
}

.modal-content {
  display: none;
}

textarea {
  resize: none;
  overflow-y: visible;
  font-family: inherit;
  max-height: none;
}
/* buttons + icons  *****************************************/
button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

button img {
  width: 2rem;
  height: 2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(307deg)
    brightness(103%) contrast(101%);
  pointer-events: inherit;
}

button#add {
  background-color: var(--accent-color);
  border-radius: 500px;
  padding: 1.7em;
  box-shadow: 0 5px 5px var(--shadow-color);
  margin-top: -1.5rem;
}
button#add img {
  width: 2em;
  height: 2em;
  filter: invert(5%);
}

nav a {
  text-decoration: none;
  color: white;
  border-radius: 50px;
  border: solid 1px white;
  padding: 0.5em 1.4em;
  align-self: stretch;
  text-align: center;
  transition: 200ms;
}
nav a:hover {
  background-color: white;
  color: var(--primary-color-dark);
}

#addButton {
  margin-top: -1rem;
}

/* scripting **********************************************/
main {
  background-color: var(--surface-bg);
  display: flex;
  flex-flow: column;
  align-items: center;
}
.content {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

span.warning {
  position: fixed;
  top: 5rem;
  color: inherit;
  z-index: 1;
  background-color: var(--accent-color);
  padding: 0.4em 1.2em;
  border-radius: 50px;
  transition: 300ms;
  box-shadow: 0 4px 8px var(--shadow-color);
  opacity: 0;
}

span.warning.on {
  opacity: 1;
}
