<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  {% block staticfiles %}

  {% endblock staticfiles %}
  <title>{% if custom_h1%}
   {{custom_h1}}
   {% else %}
   Document
  {% endif %}</title>
</head>
<body>
  <header>
    {{custom_h1}}
    <button type="button" id="hamburger" name="button"><img src="{% static 'media/ham_menu.svg' %}" alt="Main Menu"></button>
  </header>
  <nav>
    <a href="{% url 'create' %}">Create</a>
    <a href="{% url 'edit' pk=pk %}">Edit</a>
    <a href="{% url 'discuss' pk=pk %}">Discuss</a>
    <a href="{% url 'review' pk=pk %}">Review</a>
    <a href="{% url 'login' %}">Login</a>
  </nav>
  <main>
    {% block content %}

    {% endblock content %}
  </main>

</body>
</html>
