{% extends "base_generic.html" %}
{% load static %}
{% block staticfiles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script defer type="text/javascript" src="{% static 'js-bundles/create-bundle.js' %}"></script>

{% endblock staticfiles %}
{% block content %}
<span class="warning"></span>
<div class="scroll-list">
  <div class="header">
    <h2>My Discussions</h2>
  </div>
  <div class="list-body">
    {% if not discussion_zip %}
     <div class="list-item">
       <h3>No discussions yet.</h3>
       <p>Click add to get started!</p>
     </div>
     {% else %}
     {% for d, f in discussion_zip %}
     <div class="list-item content" value={{d.id}}>
       <div class="content">
         <h3>{{d.title}}</h3>
         <p>{{ d.description }}</p>
       </div>
     </div>
     <div class="list-item edit hidden" value="{{d.id}}">
       <form id="edit-discussion-{{d.id}}" class="" action="" method="post">
         <div class="header">
           <h3 >Edit</h3>
         </div>
         {% csrf_token %}
         {{f}}
         <div class="button-row">
           <button type="submit" form="edit-discussion-{{d.id}}" value="{{d.id}}" name="edit-discussion">Save</button>
           <button type="button"  value="{{d.id}}" id="cancelEdit">Cancel</button>
         </div>
       </form>
     </div>
     {% endfor %}
    {% endif %}
  </div>
</div>
<div class="list-footer">
  <div class="button">
    <button type="button" id="add" name="button"><img draggable="false" src="{% static 'media/plus.svg' %}" alt="Add"></button>
    </div>
    <div class="button">
      <button type="button" id="edit" name="button"><img draggable="false" src="{% static 'media/pencil.svg' %}" alt="Edit"></button>
      </div>
    <div class="button">
      <button type="button" id="share" name="button"><img draggable="false" src="{% static 'media/share.svg' %}" alt="Share"></button>
      </div>
    <div class="button">
      <button type="button" id="delete" name="delete"><img src="{% static 'media/trash.svg' %}" alt="Delete"></button>
      </div>
</div>
{% include 'templates/modal-form.html' %}
{% include 'templates/modal-share.html' %}
{% include 'templates/modal-warn-delete.html' %}
{% endblock %}
