{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<div class="scroll-list">
  <div class="header">
    <h2>My Discussions</h2>
  </div>
  <div class="list-body">
    {% if not all_discussions %}
     <div class="list-item">
       <h3>No discussions yet.</h3>
       <p>Click add to get started!</p>
     </div>
     {% else %}
     {% for d in all_discussions %}
     <div class="list-item" value={{d.id}}>
       <h3>{{d.title}}</h3>
       <p>{{ d.description }}</p>
     </div>
     <div class="list-item edit" value="{{d.id}}">
       <form id="edit-discussion" class="" action="" method="post">
         {% csrf_token %}
        {{ edit_form }}
         <button type="submit" form="edit-discussion" value="{{d.id}}" name="edit-discussion">Save Changes</button>
       </form>
     </div>
     {% endfor %}
    {% endif %}
    <div class="list-footer">
      <button type="button" id="editButton" name="button"><img src="{% static 'media/pencil.svg' %}" alt="Edit"></button>
      <button type="button" id="addButton" name="button"><img src="{% static 'media/plus.svg' %}" alt="Edit"></button>
      <button type="button" id="shareButton" name="button"><img src="{% static 'media/share.svg' %}" alt="Edit"></button>
    </div>
  </div>
</div>
<div class="modal-content">
  <div class="header">
    <h2>New Discussion</h2>
  </div>
  <form id="add-discussion"  action="" method="post">
         {% csrf_token %}
         {{ add_form }}
         <button type="submit" form="add-discussion" name="add-discussion">Save Discussion</button>
       </form>
</div>
{% endblock %}
