{% extends "base_generic.html" %} {% load static %} {% block staticfiles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<script
  defer
  type="text/javascript"
  src="{% static '/js-bundles/edit-bundle.js' %}"
></script>
{% endblock staticfiles %} {% block content %}
<span class="warning"></span>
<div class="scroll-list">
  <div class="header">
    <h2>Discussion:</h2>
    <div class="select">
      {% if all_discussions %}
      <form class="" action="" id="change-discussion" method="post">
        {% csrf_token %}
        <select name="select-discussion" onchange="this.form.submit()">
          {% for d in all_discussions %}
          <div class="option">
            <option value="{{d.id}}" {% if d.title == discussion.title%}
             selected="selected"
            {% endif %}>{{d.title}}</option>
          </div>
          {% endfor %}
        </select>
      </form>
      {% else %}
      <a href="{% url 'create' %}">No Discussions... Create one!</a>
      {% endif %}
    </div>
  </div>
  <div class="list-body">
    {% if not all_topics %}
    <div class="list-item">
      <h3>No topics yet.</h3>
      <p>Click add to get started!</p>
    </div>
    {% else %} {% for t in all_topics %}
    <div class="list-item" value="{{t.id}}">
      <div class="content">
        <h3>{{t.title}}</h3>
        <p>{{ t.description }}</p>
      </div>
    </div>
    <div class="list-item edit hidden" value="{{t.id}}">
      <form id="edit-topic" class="" action="" method="post">
        {% csrf_token %} {{ edit_form }}
        <div class="button-row">
          <button
            type="submit"
            form="edit-discussion"
            value="{{d.id}}"
            name="edit-discussion"
          >
            Save Changes
          </button>
          <button
            type="button"
            value="{{d.id}}"
            id="cancelEdit"
            name="cancel-edit"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
    {% endfor %} {% endif %}
  </div>
  <div class="list-footer">
    <button type="button" id="add" name="button"><img draggable="false" src="{% static 'media/plus.svg' %}" alt="Add"></button>
      <button type="button" id="edit" name="button"><img draggable="false" src="{% static 'media/pencil.svg' %}" alt="Edit"></button>
      <button type="button" id="share" name="button"><img draggable="false" src="{% static 'media/share.svg' %}" alt="Share"></button>
      <button type="button" id="delete" name="delete"><img src="{% static 'media/trash.svg' %}" alt="Delete"></button>
  </div>
</div>
<div id="addModal" class="modal-bg hidden">
  <div class="modal-content">
    <div class="header">
      <h2>Add New Topic</h2>
      <div id="exitEdit">""</div>
    </div>
    <form id="add-topic" action="" method="post">
      {% csrf_token %} {{ add_form }}
      <button
        type="submit"
        form="add-topic"
        value="{{discussion.id}}"
        name="add-topic"
      >
        Save Topic
      </button>
    </form>
  </div>
</div>
<div id="shareModal" class="modal-bg hidden">
  <div class="modal-content">
    <div class="header">
      <h2>Share Discussion</h2>
      <div id="exitShare">""</div>
    </div>
    <div class="share-content">
      <span id="shareLink"></span>
      <button id="copyLink" type="button" name="share-link">
        <img src="{% static 'media/copy.svg' %}" alt="Copy" />
      </button>
    </div>
  </div>
</div>
<div id="deleteModal" class="modal-bg hidden">
  <div class="modal-content">
    <div class="header">
      <h2>Delete Topic</h2>
      <div id="exitDelete">""</div>
    </div>
    <div>
      <h4></h4>
      <form id="confirmDelete" action="" method="post">
        <span>Are you sure you want to delete this topic?</span>
        {% csrf_token %}
        <div class="button-row">
          <button
            id="confirmDelete"
            type="submit"
            name="delete-item"
            form="confirmDelete"
          >
            Yes, Delete.
          </button>
          <button id="cancelDelete" type="button">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
